<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="TestSelectServer.aspx.cs" Inherits="Tank.SNSAssistant.TestSelectServer"%>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>Select Server Test Page</title>
</head>
<body>
    <div>
        <div>
            <h2>Select Server Test Function Display</h2>
        </div>
        <br />
        <br />
        <br />
        <div>
            <iframe width="1024" height="800" src="SelectServer.aspx?bd_sig_in_iframe=1&bd_sig_method=get&bd_sig_time=1253612767044&bd_sig_added=1&bd_sig_user=2147936483&bd_sig_portrait=a6806378666c6f7665746c3c02&bd_sig_session_key=3fugDkWacxXEkq0zleMzmO%2BBHx3YQVgqkWkdv13ilETOREOC4jH5vm51vum%2BeBQWR00%2FWQnQ3GwyEy5t0WR7xjceae7Tb3ZbNA%2F27sCT%2F3t4y%2FzjJdVNX%2BfKakZvMJ0AnbA78t56%2Bb%2BvG6VoxP%2BZJMqwRrBZryu6b7DAEslqMgTxvIUODxFmn46pgIME9162j3XmV5xtz5Twbr0PuFKxAEtmEZI0BKobnwK3tNHdwIFPASmKEi9l%2F1BtcegZauPo&bd_sig_api_key=96478b8657ef00d8b0a1d4d79e759601&bd_sig_app_id=10020&bd_sig=2a1c78ff023fe6f4337c38cb499d599e"></iframe>
        </div>
    </div>
</body>
</html>
